.my-footer {
  background-color: #000; }

.main-header .navbar-brand {
  max-width: 120px; }
  .main-header .navbar-brand img {
    width: 100%; }

.main-header .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  color: #fff; }

.main-header .navbar-nav .nav-item.active .nav-link, .main-header .navbar-nav .nav-item:hover .nav-link, .main-header .navbar-nav .nav-item:focus .nav-link {
  color: #da920c;
  border-bottom: 2px solid #da920c; }

#showcase .carousel-item {
  height: 400px; }
  #showcase .carousel-item > img {
    height: 100%;
    object-fit: cover; }

#showcase .carousel-caption {
  top: 30% !important; }
  #showcase .carousel-caption p {
    text-shadow: 7px 6px 5px rgba(0, 0, 0, 0.8); }

.getting-started {
  background-image: url(../images/lights.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .getting-started::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: ragb(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0; }

.vedio {
  background-image: url(../images/shape1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .vedio::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: ragb(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0; }

.gallary-img-link {
  display: inline-block;
  width: 100%;
  height: 300px; }
  .gallary-img-link > img {
    width: 100%;
    height: 100%; }

.about-img {
  height: 400px;
  width: 400px; }

.testminol .owl-theme .owl-nav {
  position: absolute;
  left: -8%;
  top: 20%;
  width: 106%;
  display: flex;
  justify-content: space-between; }

.img-posts > img {
  height: 400px;
  width: 100%; }
