.about-img{
    height:400px;
    width:400px;
}

.testminol{
    .owl-theme .owl-nav{
        position: absolute;
        left: -8%;
        top:20%;
        width:106%;
        display:flex;
        justify-content: space-between;
    }
}